{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2>Registered Student Details</h2>

  {% if students %}
  <table class="table table-bordered mt-4">
    <thead class="table-light">
      <tr>
        <th>Guardian</th>
        <th>Relation</th>
        <th>Student Name</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Standard</th>
        <th>Exam</th>
        <th>Mobile</th>
        <th>Total Fee</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ student.parent_name }}</td>
        <td>{{ student.relation }}</td>
        <td>{{ student.student_name }}</td>
        <td>{{ student.dob }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.standard }}</td>
        <td>{{ student.exam }}</td>
        <td>{{ student.parent_mobile }}</td>
        <td>₹{{ student.total_fee }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'logout' %}" class="btn btn-danger mt-3">Logout</a>

  {% else %}
  <div class="alert alert-info mt-4">
    No students found for this mobile.
  </div>
  {% endif %}
</div>
{% endblock %}
